<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>

<p>server works!

    Is ID = {{StatusId}} && Name Is {{StatusName}}
</p>


<h2>{{getStatusName()}}</h2>



<!-- ////assyment //2 -->
 <hr>
 <hr>
 <hr>
 <hr>
 <hr>
 <hr>
 <hr>
 <hr>

<!-- <button (click)="secretpass=!secretpass" >show details </button>

<p *ngIf="secretpass"> secret password tuna</p> -->


<hr>
2-
<button (click)="Displayclick()" > dispaly toggle</button>
<p *ngIf="secretpass"> secret password tuna</p>
<div *ngFor="let logitem of log" [ngStyle]="{backgroundColor:logitem >=5 ?'blue' : 'green'}">{{ logitem }}</div>
